body {
    background-image: url(/pexels-moose-photos-1037994.jpg);
    background-size: 1650px;
}

::placeholder {
    color: #fff !important;
}

.container {
    max-width: 400px;
    margin-top: 60px;
    background-color: rgba(226, 219, 80, 0.962);
    border-radius: 10%;
}

input[type="text"],
input[type="text"]:focus {
    color: black;
    border: none;
    max-width: 400px;
}

.todos li {
    background: rgb(240, 189, 191);
}

.todos span {
    color: #fff;
}

.todos i {
    color: #fff;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}
